.main-block, .qrs, .info{
  border-radius: 10px;
  border: groove;
  border-width: 2px;
  border-color: rgb(0, 110, 255) ;
}

.wrap{
  word-wrap: break-word;
  max-width: 295px;
  margin: auto;
  margin-bottom: 10px;
}

.qrs, .info{
  border-left-width: 0px;
  border-right-width: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.networkDiv{
  padding-top: 20px;
}

.main-block{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  max-width: 500px;
  margin: auto;

  border-left-width: 1px;
  border-right-width: 1px;

  color: rgb(70, 70, 70);
  padding: 25px;
}

.inner-block{
  text-align: center;
}

.description, .networkType, .coinName{
  max-width: 295px;
  margin: auto;
  word-wrap: break-word;
}

.addressQrDiv,.memoQrDiv{
  display:inline-block;
}


#addressQr{
  width: 4cm;
  height: 4cm;
}

#memoQr{
   width: 4cm;
  height: 4cm;

}

.info{
  margin-top: 15px;
  text-align: left;
}

#addressCopy, #memoCopy{
  color: rgb(0, 110, 255);
  border-color: rgb(0, 110, 255) ;
}

#addressCopy:hover, #memoCopy:hover{
  background-color: rgb(0, 110, 255);
  color: whitesmoke;
}

